<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
 <a href="/select_terminal?terminalId=A001&bankName=HSBC">汇丰银行 A001</a> </p>
 <a href="/select_terminal?terminalId=A002&bankName=HSBC">汇丰银行 A002</a> </p>
 <a href="/select_terminal?terminalId=B001&bankName=HASE">恒生银行 B001</a> </p>
 <a href="/select_terminal?terminalId=B002&bankName=HASE">恒生银行 B001</a> </p>
  </body>
</html>