<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SST BlockChain</title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="styles/example-fluid-layout.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <!-- logo摆放处 -->
    <header role="banner">
        <div class="header-wrap">
            <img class="site-logo" src="images/logo.png" alt="SST Blockchain">
        </div>
    </header>
    <section class="athp-section athp-lead-section">
        <video class="vdo_inner" poster="videos/poster.png" id="bgvid" autoplay="" loop="">
            <source src="videos/herobanner.webm" type="video/webm">
            <source src="videos/herobanner.ogv" type="video/ogg">
            <source src="videos/herobanner.mp4" type="video/mp4">
        </video>
    </section>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="leaderboard">
                    <h1>Transaction Success</h1>
                </div>
                <div class="row-fluid spanBox">
                    <div class="span12 pwd-area amt-area">
                        <p>Thank you for your use, your transfer amount from account :
                            <%=cardNumber%>
                                to account :
                                <%=to_cardNumber%> is : </p>
                        <span class="txn-value" id="txn-value">
                            <%=amount%>
                        </span>

                    </div>
                </div>
                <!--/row-->
            </div>
        </div>
        <a id="success" class="btn btn-success btn-large successBtn" href="/">Take the card</a>
    </div>

    <div class="heart-shape"></div>
    <div class="reminder">
        <p>Trasaction via blockchain can save
            <span class="saveFee">8$</span> fee per trasaction for you!</p>
    </div>
</body>

</html>