<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlockChain ATM</title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <!-- logo摆放处 -->
    <header role="banner">
        <div class="header-wrap">
            <img class="site-logo" src="images/logo.png" alt="Blockchain ATM">
        </div>
    </header>
    <section class="athp-section athp-lead-section">
        <video class="vdo_inner" poster="videos/poster.png" id="bgvid" autoplay="" loop="">
            <source src="videos/herobanner.webm" type="video/webm">
            <source src="videos/herobanner.ogv" type="video/ogg">
            <source src="videos/herobanner.mp4" type="video/mp4">
        </video>
    </section>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="leaderboard">
                    <h1>请输入银行卡密码</h1>
                </div>
                <div class="row-fluid">
                    <div class="span12 pwd-area spanBox">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <!-- <label for="pwd" class="control-label">请输入六位数字的银行密码</label> -->
                                <input type="password" class="form-control input-value" id="pwd" placeholder="">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-large">确认</button>
                            </div>
                        </form>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
        </div>
    </div>
</body>

</html>